<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изучение vue.js</title>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <div id="app">
        <button v-on:click="show=!show">Скрыть / Показать</button>
        <p v-if="show">Текст, который может стать невидимым</p>
        <p v-else>{{message | lowercase | capatilize}}</p>


        <ul>
            <li v-for="(car, i) in cars" :key="car.model">{{i + 1}} - {{car.model}}, скорость: {{car.speed}}</li>
        </ul>

    </div>

    <script src="js/main.js"></script>

</body>
</html>